<h2>Login</h2>

<form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="container form">
  <div class="input-box">
    <label for="email">Email</label>
    <input
      type="email"
      id="email"
      name="email"
      ngModel
      #emailRef="ngModel"
      required
      email

    />
    @if (emailRef.invalid && emailRef.touched) {
      <small class="error">* Valid email is required</small>
    }
  </div>

  <div class="input-box">
    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      name="password"
      ngModel
      #passwordRef="ngModel"
      required
      minlength="8"
      
    />
    @if (passwordRef.invalid && passwordRef.touched) {
      <small class="error">* Password must exceed 8 characters</small>
    }
  </div>

 

  <button type="submit" class="submit-btn" [disabled]="loginForm.invalid">{{ loading ? 'Loging in...' : 'Login' }}</button>

  @if (serverError) {
    <small class="server-error">{{ serverError }}</small>
    }
</form>

