<h2>Login Form</h2>

<form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="container form">
  <div class="input-box">
    <label for="email">Email</label>
    <input
      type="email"
      id="email"
      name="email"
      [(ngModel)]="email"
      #emailRef="ngModel"
      required
      email
      class="touched-form"
      [class.touched-form]="emailRef.touched && emailRef.invalid"
    />
    @if (emailRef.invalid && emailRef.touched) {
      <small>* Valid email is required</small>
    }
  </div>

  <div class="input-box">
    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      name="password"
      [(ngModel)]="password"
      #passwordRef="ngModel"
      required
      minlength="8"
      class="touched-form"
      [class.touched-form]="passwordRef.touched && passwordRef.invalid"
    />
    @if (passwordRef.invalid && passwordRef.touched) {
      <small>* Password must exceed 8 characters</small>
    }
  </div>

  @if (isError) {
    <div class="error-message">{{ errorMessage }}</div>
  }

  <button type="submit" class="submit-btn" [disabled]="loginForm.invalid">Login</button>
</form>

<div>
  <button type="button" (click)="setForm()" class="submit-btn">Set Value</button>
  <button type="button" (click)="patchForm()" class="submit-btn">Patch Value</button>
</div>