

.active{
    color: rgb(177, 105, 105);
}

.error{
    background-color: rgb(241, 9, 9);
}

.book{
    border: 2px solid red;
    padding: 10px;
    margin-bottom: 15px;
    width: 500px;
}

.student{
    border: 2px solid red;
    padding: 10px;
    margin-bottom: 15px;
    width: 500px;
}
.popular{
    background-color: greenyellow;
}

